streamlit
matplotlib
pandas
numpy
seaborn
openai
pymupdf
python-docx
load_dotenv
scikit-learn
xgboost>=1.6.0
opencv-python-headless
fpdf
streamlit_cookies_manager
streamlit-webrtc
streamlit==1.22.0
